.body{
    padding: 35px 0px;
  }
  *{
    box-sizing: border-box;
   font-family: 'Lora', serif;
   
  }
  .product-img{
    cursor: pointer;
    margin-top: 48px;
    }
  
  .product-title{
        text-transform: uppercase;
      margin-bottom: 15px;
      font-size: 25px;
      line-height: 1.2em;
      font-family: 'Lora', serif;
      margin-bottom: 30px;
  }
  
  .price{
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .price h3{
    display: inline-block;
    font-size: 28px;
    color: #E91E63;
  }
  .price del{
    padding: 0px 20px;
    font-size: 20px;
    color:#9E9E9E;
  }
  .prodect-details{
    padding-top: 15px;
      padding-bottom: 20px;
  font-family: 'Lora', serif;
    border-bottom: 1px dashed #ddd;
  }
  
  .sub-title{
    color: #000;
    font-weight: 700;
    padding-right: 38px;
  }
  .activeimg{
    border: 1px solid #000;
  }
  
  .overview{
    margin-top: 30px;
  }

  .product-summary{
    margin-left: 32px;
    margin-top: 48px;
  }
  